@model eera_model.Hostel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--== breadcrumbs ==-->
<div class="sb2-2-2">
    <ul>
        <li>
            <a href="~/Admin/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> @ViewBag.CurrentPageLocation</a>
        </li>
        <li class="page-back">
            <a href="~/Admin/"><i class="fa fa-close" aria-hidden="true"></i>Close</a>
        </li>
    </ul>
</div>
<!--== DASHBOARD INFO ==-->
<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Total Hostel</h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Hostel Title</th>
                            <th>Category</th>
                            <th>Contact No</th>
                            <th>Town</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td><a href="@Url.Action("New",null,new {area=string.Empty,Controller ="Hostel"},Request.Url.Scheme)"><span>New Hostel</span></a></td>
                            <td>
                                <input type="radio" id="choice1" name="choice" value="Yes">
                                <label for="choice1"> <i class="fa fa-male" aria-hidden="true"></i></label>
                                <input type="radio" id="choice2" name="choice" value="No">
                                <label for="choice2"><i class="fa fa-female" aria-hidden="true"></i></i></label>
                            </td>
                            <td>9999999999</td>
                            <td>hyderabad</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td><a href="@Url.Action("New",null,new {area=string.Empty,Controller ="Hostel"},Request.Url.Scheme)"><span>New Hostel</span></a></td>
                            <td>
                                <input type="radio" id="choice1" name="choice" value="Yes">
                                <label for="choice1"><i class="fa fa-male" aria-hidden="true"></i></label>
                                <input type="radio" id="choice2" name="choice" value="No">
                                <label for="choice2"><i class="fa fa-female" aria-hidden="true"></i></label>
                            </td>
                            <td>9999999999</td>
                            <td>hyderabad</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td><a href="@Url.Action("New",null,new {area=string.Empty,Controller ="Hostel"},Request.Url.Scheme)"><span>New Hostel</span></a></td>
                            <td>
                                <input type="radio" id="choice1" name="choice" value="Yes">
                                <label for="choice1"><i class="fa fa-male" aria-hidden="true"></i></label>
                                <input type="radio" id="choice2" name="choice" value="No">
                                <label for="choice2"><i class="fa fa-female" aria-hidden="true"></i></label>
                            </td>
                            <td>9999999999</td>
                            <td>hyderabad</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td><a href="@Url.Action("New",null,new {area=string.Empty,Controller ="Hostel"},Request.Url.Scheme)"><span>New Hostel</span></a></td>
                            <td>
                                <input type="radio" id="choice1" name="choice" value="Yes">
                                <label for="choice1"><i class="fa fa-male" aria-hidden="true"></i></label>
                                <input type="radio" id="choice2" name="choice" value="No">
                                <label for="choice2"><i class="fa fa-female" aria-hidden="true"></i></label>
                            </td>
                            <td>9999999999</td>
                            <td>hyderabad</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td><a href="@Url.Action("New",null,new {area=string.Empty,Controller ="Hostel"},Request.Url.Scheme)"><span>New Hostel</span></a></td>
                            <td>
                                @*@if (Model.Category = M);*@
                                @*{*@
                                <label for="choice1"><i class="fa fa-male fa_custom fa-7x"></i></label>
                                @*}*@
                                @*@else*@
                                {
                                <label for="choice2"><i class="fa fa-male fa_custom"></i></label>
                                @*}*@
                            </td>
                            <td>9999999999</td>
                            <td>hyderabad</td>
                            <td>
                                <span class="label label-success">Active</span>
                            </td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>