@model List<eera_model.Institute>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!--== breadcrumbs ==-->
<div class="sb2-2-2">
    <ul>
        <li>
            <a href="~/Admin/Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#">@ViewBag.CurrentPageLocation</a>
        </li>
        <li class="page-back">
            <a href="~/Institute/NewInstitute"><i class="fa fa-plus" aria-hidden="true"></i>New Institute</a>
        </li>
    </ul>
</div>
<!--==DASHBOARD INFO ==-->
<div class="col-md-12">
    <div class="box-inn-sp">
        <div class="inn-title">
            <h4>Total Institutes @ViewBag.TotalRecords </h4>
        </div>
        <div class="tab-inn">
            <div class="table-responsive table-desi">
                @{
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Title</th>
                            <th>ContactNo</th>
                            <th>Courses</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Institute in Model)
                        {
                        <tr>
                            <td>
                                <input type="checkbox" class="filled-in" id="filled-in-box-1" checked="checked">
                                <label for="filled-in-box-1"></label>
                            </td>
                            <td>@Institute.Title</td>
                            <td>@Institute.ContactNo</td>  
                            <td>
                                <a href="@Url.Action("Index", null, new { area = string.Empty, Controller = "Course" }, Request.Url.Scheme)">
                                    <span>25</span>
                                </a>
                            </td>
                            <td>
                                @if (Institute.Status)
                                { 
                                <span class="label label-success">Active</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Inactive</span>
                                }
                            </td>
                        </tr>
                        }                     
                      </tbody>
                </table>                    
                }
                
            </div>
        </div>
    </div>
</div>
