@model eera_model.Institute
@{
    ViewBag.Title = "NewInstitute";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!--== breadcrumbs ==-->
<div class="sb2-2-2">
    <ul>
        <li>
            <a href="~/Admin/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </li>
        <li class="active-bre">
            <a href="#"> @ViewBag.CurrentPageLocation</a>
        </li>
        <li class="page-back">
            <a href="~/Institute/Index"><i class="fa fa-close" aria-hidden="true"></i> CLOSE</a>
        </li>
    </ul>
</div>
<!--== DASHBOARD INFO ==-->
<div class="col-md-12">
    <div class="box-inn-sp admin-form">
        <div class="sb2-2-add-blog sb2-2-1">
            <h2>Add New Institute</h2>
            <div class="tab-content">
                <div id="home" class="tab-pane fade active in">
                    <div class="box-inn-sp">
                        <div class="inn-title">
                            <h4>Institute Information</h4>
                        </div>
                        <div class="bor">
                            @using (Html.BeginForm("Create", "Institute", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                var locations = (List<eera_model.Location>)ViewBag.Locations;
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.Title, new { id = "txtTitle", @class = "validate", placeholder = "Title", required ="" })
                                        <label for="list-title" class="">Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextAreaFor(m => m.Details, new { id = "txtDescription", @class = "validate", placeholder = "Description", required = "" })
                                        <label>Description</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="file-field input-field col s12">
                                        <div class="btn admin-upload-btn">
                                            <span>Banner Image</span>
                                            <input type="file" name="file">
                                            @Html.ValidationMessageFor(model => model.BannerImage,"",new { @class ="please-fill-out-this-field"})
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" id="txtBannerImage" name="Banner" placeholder="Event image" type="text" value="">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.DropDownListFor(model => Model.StateCode, new SelectList(locations.Where(x => x.Type == "STATE").ToList<eera_model.Location>(), "LocationID", "Title"), "Select")
                                        @Html.ValidationMessageFor(model => model.StateCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.DropDownListFor(model => Model.CityCode, new SelectList(locations.Where(x => x.Type == "CITY").ToList<eera_model.Location>(), "LocationID", "Title"), "Select")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.DropDownListFor(model => Model.AreaCode, new SelectList(locations.Where(x => x.Type == "AREA").ToList<eera_model.Location>(), "LocationID", "Title"), "Select")
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.ContactNo, new { id = "txtContactNo", @class = "validate", placeholder = "ContactNo", required = "" })
                                        <label>ContactNo</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.MailID, new { id = "txtMailID", @class = "validate", placeholder = "MailID", required = "" })
                                        <label>MailID</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.Address, new { id = "txtAddress", @class = "validate", placeholder = "Address", required = "" })
                                        <label>Address</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.Landmark, new { id = "txtLandmark", @class = "validate", placeholder = "Landmark", required = "" })
                                        <label>Landmark</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.TextBoxFor(m => m.GoogleLocation, new { id = "txtGoogleLocation", @class = "validate", placeholder = "GoogleLocation", required = "" })
                                        <label>GoogleLocation</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box-1" name="chkBannerAccess">
                                        <label for="filled-in-box-1">Banner Access</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box-2" name="chkHomeAccess">
                                        <label for="filled-in-box-2">Home Access</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box-2" name="chkSliderAccess">
                                        <label for="filled-in-box-2">Slider Access</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="waves-effect waves-light btn-large waves-input-wrapper" style="">
                                            <input type="submit" class="waves-button-input" value="Submit">
                                        </i>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
