@model List<eera_model.Hostel>
<section>
    <div class="container com-sp pad-bot-0">
        <div class="row">
            @{
                var gentsHostels = Model.Where(c => c.Category == "M");
                if (gentsHostels.Count() > 0)
                {
                    <div class="col-md-4">
                        <div class="ho-ev-latest ho-ev-latest-bg-1">
                            <div class="ho-lat-ev">
                                <h4>Gents Hostels</h4>
                            </div>
                        </div>
                        <div class="ho-event ho-event-mob-bot-sp">
                            <ul>
                                @foreach (var eachHostel in gentsHostels) { 
                                  <li>
                                    <div class="ho-ev-date">
                                        @*<span>07</span><span>jan,2018</span>*@
                                        <img src=""/>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="events.html">
                                            <h4>@eachHostel.Title</h4>
                                        </a>
                                        <p>@eachHostel.Detials</p>
                                        <span>@eachHostel.CityTitle</span>
                                    </div>
                                   </li>
                                }                               
                            </ul>
                        </div>
                    </div>
                }
            }
            

            @{
                var ladiessHostels = Model.Where(c => c.Category == "F");
                if (ladiessHostels.Count() > 0)
                {
                    <div class="col-md-4">
                        <div class="ho-ev-latest ho-ev-latest-bg-1">
                            <div class="ho-lat-ev">
                                <h4>Ladies Hostels</h4>
                            </div>
                        </div>
                        <div class="ho-event ho-event-mob-bot-sp">
                            <ul>
                                @foreach (var eachHostel in ladiessHostels)
                                {
                                    <li>
                                        <div class="ho-ev-date">
                                            @*<span>07</span><span>jan,2018</span>*@
                                            <img src="" />
                                        </div>
                                        <div class="ho-ev-link">
                                            <a href="events.html">
                                                <h4>@eachHostel.Title</h4>
                                            </a>
                                            <p>@eachHostel.Detials</p>
                                            <span>@eachHostel.CityTitle</span>
                                        </div>
                                    </li>
                                }
                               
                            </ul>
                        </div>
                    </div>
                }
            }
            
              <div class="col-md-4">
                <!--<div class="ho-ex-title">
                        <h4>Upcoming Event</h4>
                    </div>-->
                <div class="ho-ev-latest ho-ev-latest-bg-3">
                    <div class="ho-lat-ev">
                        <h4>Search Hostels</h4>
                    </div>
                </div>
                <div class="ho-st-login">
                    <ul class="tabs tabs-hom-reg">
                        <li class="tab col s6">
                            <input type="checkbox" class="filled-in" id="filled-in-box-1" name="chkBannerAccess">
                            <label for="filled-in-box-1" style="font-weight:bold; font-size:14px">Gents Hostels</label>
                        </li>
                        <li class="tab col s6">
                            <input type="checkbox" class="filled-in" id="filled-in-box-2" name="chkBannerAccess">
                            <label for="filled-in-box-2" style="font-weight:bold; font-size:14px">Ladies Hostels</label>
                        </li>
                    </ul>
                    <div class="col s12 active" style="display: block; overflow: auto;">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <select class="initialized">
                                        <option value="" disabled="" selected="">Select State</option>
                                        <option value="">Andhrapradesh</option>
                                        <option value="">Telangana</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select class="initialized">
                                        <option value="" disabled="" selected="">Select City</option>
                                        <option value="">Hyderabad</option>
                                        <option value="">Secunderabad</option>
                                        <option value="">Guntur</option>
                                        <option value="">Vijayawada</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box-3" name="chkBannerAccess">
                                    <label for="filled-in-box-3" style="font-weight:bold; font-size:14px">Ameerpet</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box-4" name="chkBannerAccess">
                                    <label for="filled-in-box-4" style="font-weight:bold; font-size:14px">SR Nagar</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box-5" name="chkBannerAccess">
                                    <label for="filled-in-box-5" style="font-weight:bold; font-size:14px">KPHB</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" class="filled-in" id="filled-in-box-6" name="chkBannerAccess">
                                    <label for="filled-in-box-6" style="font-weight:bold; font-size:14px">Brodipet</label>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="waves-effect waves-light light-btn waves-input-wrapper" style="">
                                        <input type="submit" value="Search" class="waves-button-input">
                                    </i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="pg-eve-reg">
            <br />
            <a href="event-register.html">Browser All Hostels</a>
        </div>
    </div>
    <br />
</section>