@model List<eera_model.Category>
<section class="pop-cour">
    <div class="container com-sp pad-bot-0">
        <div class="row">
            <div class="row">
                <div class="con-title" style="text-align:left; margin:20px;">
                    <h2>Popular <span>Categories</span></h2>
                </div>
            </div>
            <div class="row">
                @{
                    int colno = 0;
                    foreach (var eachCategory in Model)
                    {
                        if (colno == 0)
                        {
                            colno++;
                            <div class="col-md-4">
                                <div>
                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <div class="col-md-3"> <img src="/images/course/sm-1.jpg" alt=""> </div>
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-9 home-top-cour-desc">
                                            <a href="course-details.html">
                                                <h3>@eachCategory.Title</h3>
                                            </a>
                                            @*<h4>@eachCategory.Detials</h4>*@
                                            <p>@eachCategory.Details</p>
                                            @*<span class="home-top-cour-rat">4.2</span>*@

                                            <div class="hom-list-share">
                                                <ul>

                                                    <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>@eachCategory.CourseCount</a> </li>
                                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (colno == 1)
                        {
                            colno++;
                            <div class="col-md-4">
                                <div>
                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <div class="col-md-3"> <img src="/images/course/sm-5.jpg" alt=""> </div>
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-9 home-top-cour-desc">
                                            <a href="course-details.html">
                                                <h3>@eachCategory.Title</h3>
                                            </a>
                                            @*<h4>@eachCategory.Detials</h4>*@
                                            <p>@eachCategory.Details</p>
                                            @*<span class="home-top-cour-rat">4.2</span>*@
                                            <div class="hom-list-share">
                                                <ul>
                                                    <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>@eachCategory.CourseCount</a> </li>
                                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (colno == 2)
                        {
                            colno = 0;
                            <div class="col-md-4">
                                <div>
                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <div class="col-md-3"> <img src="/images/course/sm-5.jpg" alt=""> </div>
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-9 home-top-cour-desc">
                                            <a href="course-details.html">
                                                <h3>@eachCategory.Title</h3>
                                            </a>
                                            @*<h4>@eachCategory.Detials</h4>*@
                                            <p>@eachCategory.Details</p>
                                            @*<span class="home-top-cour-rat">4.2</span>*@
                                            <div class="hom-list-share">
                                                <ul>
                                                    <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>@eachCategory.CourseCount</a> </li>
                                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (colno == 3)
                        {
                            colno = 0;
                            <div class="col-md-4">
                                <div>
                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <div class="col-md-3"> <img src="/images/course/sm-5.jpg" alt=""> </div>
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-9 home-top-cour-desc">
                                            <a href="course-details.html">
                                                <h3>@eachCategory.Title</h3>
                                            </a>
                                            @*<h4>@eachCategory.Detials</h4>*@
                                            <p>@eachCategory.Details</p>
                                            @*<span class="home-top-cour-rat">4.2</span>*@
                                            <div class="hom-list-share">
                                                <ul>
                                                    <li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
                                                    <li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
                                                    <li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="pg-eve-reg">
                <a href="event-register.html">Browser All Courses</a>
            </div>
        </div>
    </div>
    <br />
</section>
