@model List<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="sb2-2-1">
    <h2>Admin Dashboard</h2>
    @*<p>Admin dashboard information</p>*@
    <div class="db-2">
        <ul>
            <li>
                <div class="dash-book dash-b-1">
                    <h5>Users</h5>
                    <h4>@Model[0]</h4>
                    <a href="#">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-4">
                    <div style="font-size:20px; color:white; font-weight:bold; padding-bottom:20px">User Enquiries</div>
                    <h4>@Model[1]</h4>
                    <a href="~/Enquiry/UserEnquiry">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-4">
                    <div style="font-size:20px; color:white; font-weight:bold; padding-bottom:20px">
                        Partner Enquiries</div>
                        <h4>@Model[2]</h4>
                    <a href="~/Enquiry/PartnerEnquiry">View All</a>
                    </div>
            </li>
            <li>
                <div class="dash-book dash-b-1">
                    <h5>Courses</h5>
                    <h4>@Model[3]</h4>
                    <a href="~/Course/">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-1">
                    <h5>Sub Courses</h5>
                    <h4>@Model[4]</h4>
                    <a href="#">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-2">
                    <h5>Institutes</h5>
                    <h4>@Model[5]</h4>
                    <a href="#">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-3">
                    <h5>Hostels</h5>
                    <h4>@Model[6]</h4>
                    <a href="#">View All</a>
                </div>
            </li>
            <li>
                <div class="dash-book dash-b-4">
                    <h5>Mock Tests</h5>
                    <h4>@Model[7]</h4>
                    <a href="#">View All</a>
                </div>
            </li>           
        </ul>
    </div>
</div>
